## .NET
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

## User-specific files
.vs/
.vscode/
.idea/

## Windows Installer files
*.cab
*.msi
*.msm
*.msm

## Windows Installer files
Thumbs.db
ehthumbs.db

## JetBrains Rider
.idea/

## Windows Installer files
Desktop.ini

# MacOS .DS_Store
.DS_Store
